// elements - headings

.heading {
  font-size: 30px;
  margin-bottom: 0;

  @include respond-to-min($bp-medium) {
    font-size: 50px
  }
}

.heading--light {
  font-weight: normal;
}

.heading-medium {
  font-size: 25px;
  margin-bottom: 40px;
  text-align: center;

  @include respond-to-min($bp-small) {
    text-align: left;
  }

  @include respond-to-min($bp-medium) {
    font-size: 40px;
  }
}

.heading-last {
  font-size: 18px;

  @include respond-to-min($bp-small) {
    font-size: 25px;
  }

  @include respond-to-min($bp-medium) {
    font-size: 30px;
  }
}

.heading-question-number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0 0 20px;
  font-size: 20px;
}
