// elements - video

.video-overlay {
  background-color: $c-transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  .no-autoplay & {
    display: none;
  }
}

.video-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
