//Common Sass functions

@function gcd($a, $b) {
  @if $b == 0 {
    @return $a;
  }
  @return gcd($b, $a % $b);
}

@mixin widths($cols, $modifier: "") {
  @for $i from 1 through $cols - 1 {
    $gcd: gcd($i, $cols);
    $numerator: $i / $gcd;
    $denominator: $cols / $gcd;
    .col--#{$numerator}\/#{$denominator}#{$modifier} {
      width: $i / $cols * 100%;
      margin-bottom: 0;
    }
  }
}
